

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://upao.edu.pe/" class="simple-text logo-normal">
            LABINM - UPAO
          </a>
        </div>

        <ul class="nav">

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
                              
        </ul>
        
      </div>
    </div>
