{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row"> 
      <div class="col-lg">
        <div class="card card-chart">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 text-left">
                <h5 class="card-category"> Seedling Process Analysis </h5>
                <h2 class="card-title">SPA sessions form</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="col-lg text-center">
              <form id="curr_SPA_form">
                <label for="org">Current Session</label>
                <b><label id="curr_sess">{{ current_spa_session }}</label></b>
              </form>
            </div>
            <div class="col-lg">
              <form id="SPA_form">
                <div class="row">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="form-group col-12 text-center">
                    <label class="col-12">New {{field.label}}</label>
                    {{ field }}
                  </div>
                  {% endfor %}
                  <div class="col-12 text-center">
                    <p><input type="submit" class="btn btn-primary" value="New SPA"></p>
                  </div>
                </div>
              </form>
            </div>
            
            <div class="col-lg text-center">
              <form id="cspaf">
                <button type="submit" class="btn btn-dark my-4">Delete all sessions</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
        <div class="card card-chart">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 text-left">
                <h5 class="card-category">Main artichoke seedlings</h5>
                <h2 class="card-title">Image</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="col-sm-12 text-center">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <input type="file" name="upload" accept="image/*">
                  <br>
                  <button class="btn btn-dark my-4" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg">
        <div class="card card-chart">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 text-left">
                <h5 class="card-category">The model will process the following</h5>
                <h2 class="card-title">Artichokes</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!--See image uploaded-->
            <div class="row">
              <div class="col-sm-12 text-center">
                {% if file_url %}
                  <div class="col-lg-12">
                    <img src="{{ file_url }}" width="200" height="100">
                    <br>
                  </div>
                {% else %}
                  <div class="col-lg-12 text-center">
                    <p>No seedling image added.</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="col-lg">
        <div class="card card-chart">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 text-left">
                <h5 class="card-category">Output Image</h5>
                <h2 class="card-title">Detected Artichokes</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!--First artichoke image detected-->
            <div class="row">
              <div class="col-sm-12 text-center">
                {% if rfile_url %}
                  <div class="col-lg-12">
                    <img src="{{ rfile_url }}" width="200" height="100">
                    <br>
                  </div>
                {% else %}
                  <div class="col-lg-12 text-center">
                    <p>No output seedling image added.</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Total Artichoke Seedling Images</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 1</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLinePurple"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Detected Seedling Qualities</h5>

            <div class="col-lg-12 text-left">
              <div class="row">
                <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>1 &nbsp</h3>
                <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>0 &nbsp</h3>
                <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>0 &nbsp</h3>
              </div>
            </div>
            
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="CountryChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Detected Seedling Quality Percentages</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>100%</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLineGreen"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <table class="table table-striped table-sm" id="SPA_sessions">
        <thead>
          <tr>
            <th>Session name</th>
            <th>Total artichoke seedling images</th>
            <th>Good seedling quality quantity</th>
            <th>Average seedling quality quantity</th>
            <th>Bad seedling quality quantity</th>
            <th>Good seedling quality percentage</th>
            <th>Average seedling quality percentage</th>
            <th>Bad seedling quality percentage</th>
          </tr>
        </thead>
        <tbody>
        {% for spa_session in spa_sessions %}
        <tr>
            <td>{{spa_session.session_name}}</td>
            <td>{{spa_session.tot_artichokes_seedlng_imgs}}</td>
            <td>{{spa_session.good_seedling_quality_qty}}</td>
            <td>{{spa_session.avrg_seedling_quality_qty}}</td>
            <td>{{spa_session.bad_seedling_quality_qty}}</td>
            <td>{{spa_session.good_seedling_quality_prcntg}}</td>
            <td>{{spa_session.avrg_seedling_quality_prcntg}}</td>
            <td>{{spa_session.bad_seedling_quality_prcntg}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
     /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    
    

    $("#SPA_form").submit(function (e) {
      alert("Session already created")
      //console.log("LALALALALALALALALALALALALALA")
      // preventing from page reload and default actions
      e.preventDefault();
      // serialize the data for sending the form data.
      var serializedData = $(this).serialize();
      // make POST ajax call
      $.ajax({
        type: 'POST',
        url: "{% url 'home:post_SPA' %}",
        data: serializedData,
        success: function (response) {
          // on successfull creating object
          // 1. clear the form.
          $("#SPA_form").trigger('reset');
          // 2. focus to nickname input 
          //$("#id_nick_name").focus();
          // display the newly friend to table.
          var instance = JSON.parse(response["instance"]);
          var fields = instance[0]["fields"];

          
          $("#curr_sess").html(fields["session_name"]); //currsessname[0]);//currsessname;

          $("#SPA_sessions tbody").prepend(
            `<tr>
            <td>${fields["session_name"]||""}</td>
            <td>${fields["tot_artichokes_seedlng_imgs"]||""}</td>
            <td>${fields["good_seedling_quality_qty"]||""}</td>
            <td>${fields["avrg_seedling_quality_qty"]||""}</td>
            <td>${fields["bad_seedling_quality_qty"]||""}</td>
            <td>${fields["good_seedling_quality_prcntg"]||""}</td>
            <td>${fields["avrg_seedling_quality_prcntg"]||""}</td>
            <td>${fields["bad_seedling_quality_prcntg"]||""}</td>
            </tr>`
          );

          let canvas = document.getElementById('chartLinePurple');
          const context = canvas.getContext('2d');
          context.clearRect(0, 0, canvas.width, canvas.height);
          //myTotArtSeedImgsChart.data.datasets[0].data.push(response.tasidata);
          //myTotArtSeedImgsChart.data.labels.push(response.tasilabel);
          let myTotArtSeedImgsChart = demo.TotArtSeedImgsChart(response.tasidata, response.tasilabel);

          let canvas2 = document.getElementById('CountryChart');
          const context2 = canvas2.getContext('2d');
          context2.clearRect(0, 0, canvas2.width, canvas2.height);
          demo.DetectedArtSeedQltyChart(response['dasqdata'], response['dasqlabel']);

          let canvas3 = document.getElementById('chartLineGreen');
          const context3 = canvas3.getContext('2d');
          context3.clearRect(0, 0, canvas3.width, canvas3.height);
          demo.DetectedArtSeedQltyPerChart(response['dasqpdata'], response['dasqplabel']);

          
        },
        error: function (response) {
          // alert the error if any error occured
          alert(response["responseJSON"]["error"]);
        }
      })
    });

    $("#cspaf").submit(function (e) {
      //console.log("HEREHERHEHRERHREHRE")
      //preveting from page reload and defaults actions
      e.preventDefault();

      console.log("Is here in curr spa form")
      //serialize the data for sending the form data.
      var serializedData = $(this).serialize();
      // make GET ajax call
      $.ajax({
        type: "GET",
        url: "{% url 'home:get_SPA' %}",
        data: serializedData,
        success: function(response) {
          // on succesfull creating object
          // clear the form
          //$("#curr_SPA_form").trigger('reset');
          // display the newly friend to table
          //var instance = JSON.parse(response["instance"]);
          //var fields = instace[0];
          msg = response["instance"]
          //$("#resmsg").html(fields["msg"]);
          console.log("SUCCESSSSSSS!")
          console.log(msg["msg"])
          $("#curr_sess").html("Empty");
          $("#SPA_sessions tbody").html("");
        },
        error: function(response){
          // alert the error if any error ocurred
          alert(response["responseJSON"]["error"]);
        }
      })


    });

    function addData(chart, label, data) {
      chart.data.labels.push(label);
      chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
      });
      chart.update();
    }

    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      //console.log("Here it is ok!");
      var data = JSON.parse("{{ecd|escapejs}}");
      //demo.initDashboardPageCharts(data['exchda']);

      
      //New charts
      let myTotArtSeedImgsChart = demo.TotArtSeedImgsChart(data['tasidata'], data['tasilabel']);
      demo.DetectedArtSeedQltyChart(data['dasqdata'], data['dasqlabel'])
      demo.DetectedArtSeedQltyPerChart(data['dasqpdata'], data['dasqplabel'])

    });
  </script>

{% endblock javascripts %}





